@font-face {
    font-family: 'MergePro';
    src: url(/assets/fonts/merge-cufonfonts/MergePro.otf);
  }

  @font-face {
    font-family: 'MergeOne-Regular';
    src: url(/assets/fonts/merge-cufonfonts/MergeOne-Regular.ttf);
  }

  @font-face {
    font-family: 'merge_light';
    src: url(/assets/fonts/merge-cufonfonts/merge_light.otf);
  }

  @font-face {
    font-family: 'Lalezar-Regular';
    src: url(/assets/fonts/merge-cufonfonts/Lalezar-Regular.ttf);
  }

  /* Colors:
  Gray blue light: #9BB5BF;
  Gray blue medium: #6D808C;
  Gray ash: #4C5059;
  Gray charchoal: #343840;
  Gunmetal: #1D1E26;
  Red: #300C0C;  
  */

html {
    background: rgb(158,178,196);
    background: linear-gradient(162deg, rgba(158,178,196,1) 0%, rgba(111,130,148,1) 46%, rgba(76,92,107,1) 100%);
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    padding: 10px;
    margin: 20px;
}

li {
    font-family: 'merge_light';
    color: #9BB5BF;
    font-weight: 800;
    justify-content: end;
    margin-right: 20px;
}


  h1, h2, h3{
    font-family: 'Lalezar-Regular';
  }

  h1 {
    font-size: 4rem;
  }

  h2{
    font-size: 3rem;
  }

  h2{
    font-size: 2rem;
  }


.hero{
    position: relative;
    z-index: 1;
    
}

.data-titre{
    position: absolute; 
    top: 20rem;
    left: 10rem;
}