@font-face {
    font-family: 'MergePro';
    src: url(/assets/fonts/merge-cufonfonts/MergePro.otf);
  }

  @font-face {
    font-family: 'MergeOne-Regular';
    src: url(/assets/fonts/merge-cufonfonts/MergeOne-Regular.ttf);
  }

  @font-face {
    font-family: 'merge_light';
    src: url(/assets/fonts/merge-cufonfonts/merge_light.otf);
  }

  @font-face {
    font-family: 'Lalezar-Regular';
    src: url(/assets/fonts/merge-cufonfonts/Lalezar-Regular.ttf);
  }

  /* Colors:
  Gray blue light: #9BB5BF;
  Gray blue medium: #6D808C;
  Gray ash: #4C5059;
  Gray charchoal: #343840;
  Gunmetal: #1D1E26;
  Red: #300C0C;  
  */

html {
    background: rgb(158,178,196);
    background: linear-gradient(162deg, rgba(158,178,196,1) 0%, rgba(111,130,148,1) 46%, rgba(76,92,107,1) 100%);
}

body{
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    position: relative;
    z-index: 100;
}

nav{
    position: absolute; 
    top: 1rem;
    right: 3rem; 
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    padding: 10px;
    margin: 20px;
}

li {
    
    justify-content: end;
    margin-right: 20px;
}

img {
    display: block;
    object-fit: cover;
}

.menu-superieur {
	cursor:pointer;
    color: #9BB5BF;
    font-family: 'merge_light';
    font-weight: 800;
	font-size:1.2rem;
	padding:0.5rem;
	text-decoration:none;
	text-shadow:-2px 1px 1px #4C5059;
}
.menu-superieur:hover {
    color: #CFF2FF;
	background-color:#9c0707;
    border-radius: 1.2rem;
}

.menu-superieur:active {
	position:relative;
	top:1px;
    background:linear-gradient(to top, #9c0707 5%, #d69595 100%);
	background-color:#9c0707;
}



  h1, h2, h3{
    font-family: 'Lalezar-Regular';
    color:#1D1E26;
  }

  h1 {
    font-size: 4rem;
    line-height: 2rem;
  }

  h2{
    font-size: 3rem;
    line-height: 1.5rem;
  }

  h3{
    font-size: 2rem;
    line-height: 1rem;
    
  }

  p{
    font-family: 'MergeOne-Regular';
    color:#1D1E26;
    font-size: 1.3rem;
  }

  small {
    font-size: 1rem;
    line-height: 1rem;
  }

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.hero{
    position: relative;
    box-shadow: 0px 6px 13px 1px rgba(52,56,64,0.88);
    max-width: fit-content;
}


.video-hero{
    max-width: 99vw;
}

.data-titre{
    position: absolute; 
    top: 20rem;
    left: 10rem;
    text-shadow: 1px 1px 1px #CFF2FF;
}


.section-presentation{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 100vw;
    margin: 4rem;
    
}

.presentation {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2rem;    
}


.gallerie{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    
}

.data-gallerie{
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    max-width: 1600px;
    -webkit-box-shadow: 0px 0px 13px 0px #000000; 
box-shadow: 0px 0px 13px 0px #000000;
}

.data-gallerie-sub1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
}

.data-gallerie-sub2{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}


.linkedin {
    max-width: 4rem;
}

.dataphoto{
    position: relative;
    overflow: hidden;

}


.dataphoto .soustitre {
    position: absolute;

   bottom: -100px;
   transition: 350ms all;
   color: #CFF2FF;
   background-color: #9c0707;
   font-family: "MergeOne-Regular";
   font-size: 1.2rem;
   padding: 20px;
   z-index: 15;
   left: 0;
    right:0;
    opacity: 0;
}

.dataphoto:hover .soustitre{
    bottom: 0; 
    opacity: 1;
}